<style>
  table
  {
    width: 100%;
    border: 1px solid;
  }

  td
  {
    text-align: left;
    padding-left: 10px;
  }

  th
  {
    background-color: rgb(179, 179, 179);
  }

</style>



<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
      <% cates.forEach(function(cate){ %>
        <tr>
          <td><%=cate.id%></td>
          <td><%=cate.name%></td>
        </tr>
      <% }); %>
  </tbody>
</table>
